<!DOCTYPE html>
<html>
<head>
  <title>Festpop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="login_stuff">
  <% if current_fixer %>
    <%= link_to current_fixer.email, root_url %>
    <%= link_to 'sign out', destroy_fixer_session_path, :method => :delete %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
